<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
   <!-- <ion-title>Trainings</ion-title>-->
 
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-card *ngFor="let training of trainings$|async" (click)="onDelete(training.id)">
      <ion-card-content>
      <ion-grid fixed>
        <ion-row>
          <ion-col size="12">
              <ion-card-title>{{training.name}}</ion-card-title>
              <ion-card-title>{{training.training_room}}</ion-card-title>
         
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button  (click)="onLogOut()">LogOut</ion-button> <!--ZAPAMTI DA JE CLICK, A NE ONCLICK-->
    </ion-buttons>
  </ion-toolbar>
</ion-footer>